/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







body { width:960px; position:relative; 
}

body { width:960px; position:relative; 
}

nav li { font-family: helvetica; 
	    font-size: 13px;  
	    margin-top: 80px;
	    margin-bottom: 70px;
	    margin-right: 220px;
	    margin-left: 7px;
	    text-align: center;
	    font-weight: bolder;

	  
	   }


a:link {text-decoration: none
}


header { padding-left:20px; 
	position:fixed; 
	clear:both; width:30%;
   
	}

	
#content1 img { padding-left: 40px;}

#content2 img { width:210px; margin-top:25px;  margin-left:-12px;}


section {position: absolute; left: 500px; top:240px;   box-shadow: 2px 2px 15px #d4d4d4; }

h1 {position: absolute; left: 630px; top: 100px; font-family: helvetica; 
	    font-size: 35px; text-transform: uppercase; margin-right: -110px;
}


p {position: absolute; left:500px; right:-60px; top:150px;  
	font-family: garamond; font-size: 18px; line-height: 20px; background-color: 


















